<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="page-header">
                    <h4 class="page-title">Professeur</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <p >
                                <i class="fas fa-user-tie"></i>
                            </p>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <p >Professeur</p>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <p >Ajouter Un Professeur</p>
                        </li>
                    </ul>
                </div>
                <h3 class="box-title">
                    <i class="icon-arrow-right" ></i>Ajouter Un Professeur 
                    <i class="fas fa-user-tie" ></i></h3>
                 
            </div>
            <div class="ml-md-auto py-4 py-md-2">
                <a href="" routerLink="/default/lister_prof" class="btn btn-primary btn-round"> <i class="fa fa-table fa-fw"></i>Liste Professeurs</a>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="form-group form-group-default">
                            <label>Prenom</label>
                            <input  id="Name" [ngClass]="{ 'is-invalid': submitted && f.prenompr.errors }" formControlName="prenompr" type="text" class="form-control" placeholder="Prenom Svp">
                            <div *ngIf="submitted && f.prenompr.errors" class="invalid-feedback">
                                <div *ngIf="f.prenompr.errors.required">Prenom est Obligatoire</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group form-group-default">
                            <label>Nom</label>
                            <input id="Name" [ngClass]="{ 'is-invalid': submitted && f.nompr.errors }" formControlName="nompr" type="text" class="form-control" placeholder="Nom Svp">
                            <div *ngIf="submitted && f.nompr.errors" class="invalid-feedback">
                                <div *ngIf="f.nompr.errors.required">Nom est Obligatoire</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group form-group-default">
                            <label>Adresse</label>
                            <input  id="Name" [ngClass]="{ 'is-invalid': submitted && f.adressepr.errors }" formControlName="adressepr" type="text" class="form-control" placeholder="Adresse Svp">
                            <div *ngIf="submitted && f.adressepr.errors" class="invalid-feedback">
                                <div *ngIf="f.adressepr.errors.required">Adresse est Obligatoire</div>
                            </div>
                        </div>
                    </div>
                 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="form-group form-group-default">
                            <label>Telephone</label>
                            <input  id="Name" [ngClass]="{ 'is-invalid': submitted && f.telpr.errors }" formControlName="telpr" type="text" class="form-control" placeholder="+221......">
                            <div *ngIf="submitted && f.telpr.errors" class="invalid-feedback">
                                <div *ngIf="f.telpr.errors.required">Telephone est Obligatoire</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group form-group-default">
                            <label>Date De Naissance</label>
                            <input id="Name" [ngClass]="{ 'is-invalid': submitted && f.datenaisspr.errors }" formControlName="datenaisspr" type="date" class="form-control" >
                            <div *ngIf="submitted && f.datenaisspr.errors" class="invalid-feedback">
                                <div *ngIf="f.datenaisspr.errors.required">Date De Naissance est Obligatoire</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group form-group-default">
                            <label>Lieu De Naissance</label>
                            <input id="Name" [ngClass]="{ 'is-invalid': submitted && f.lieunaisspr.errors }" formControlName="lieunaisspr" type="text" class="form-control" placeholder="Lieu De Naissance Svp">
                            <div *ngIf="submitted && f.lieunaisspr.errors" class="invalid-feedback">
                                <div *ngIf="f.lieunaisspr.errors.required"> Lieu De Naissance est Obligatoire</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="form-group form-group-default">
                                    <label for="exampleFormControlSelect2">Choix Multiples</label>
                                    <select formControlName="mats"  [ngClass]="{ 'is-invalid': submitted && f.mats.errors }" multiple class="form-control" id="exampleFormControlSelect2">
                                         <option value="">&nbsp;</option>
                                            <option *ngFor=" let mat of allmat " value="{{mat.id}}">
                                                {{mat.libellemat}}
                                            </option>
                                            <div *ngIf="submitted && f.mats.errors" class="invalid-feedback">
                                                <div *ngIf="f.mats.errors.required">Au Moins Une Matiere</div>
                                            </div>
                                    </select>
                            </div>
                        </div>  
                        
                    <div class="form-group col-md-4">
                        <div class="form-group form-group-default">
                            <button  [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1">
                            </span>
                                Submit
                            </button>
                        </div>
                    
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
