      <!-- Favicon icon -->
      <link rel="icon" href="assets/acceil/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="assets/acceil/css/bootstrap/css/bootstrap.min.css">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="assets/acceil/icon/themify-icons/themify-icons.css">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="assets/acceil/icon/icofont/css/icofont.css">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="assets/acceil/css/style.css">
      <link rel="stylesheet" type="text/css" href="assets/acceil/css/jquery.mCustomScrollbar.css">

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">

                        <div class="page-body">
                            <div class="row">
                                <!-- card1 start -->
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="fas fa-graduation-cap bg-c-blue card1-icon"></i>
                                            <span class="text-c-blue f-w-600">Eleves</span>
                                            <h4>{{allEl}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                    <i class="fas fa-graduation-cap"></i>Power Is Knowledge
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card1 end -->
                                <!-- card1 start -->
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="flaticon-coins  bg-c-pink card1-icon"></i>
                                            <span class="text-c-pink f-w-600">Budget</span>
                                            <h4>{{Bud}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                    <i class="fas fa-hand-holding-usd"></i>Money Is Time
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card1 end -->
                                <!-- card1 start -->
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="fa fa-school bg-c-green card1-icon"></i>
                                            <span class="text-c-green f-w-600">Classes</span>
                                            <h4>{{allCl}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                    <i class="fa fa-school"></i>Tracked via microsoft
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card1 end -->
                                <!-- card1 start -->
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="fas fa-book-reader bg-c-yellow card1-icon"></i>
                                            <span class="text-c-yellow f-w-600">Matieres</span>
                                            <h4>{{allMat}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                    <i class="fas fa-book-reader"></i>Just update
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="fas fa-user-tie bg-c-green card1-icon"></i>
                                            <span class="text-c-yellow f-w-600">Professeurs</span>
                                            <h4>{{allPr}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                <i class="fas fa-user-tie"></i>The Teacher 
                                                was almost a messenger
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="fas fa-clipboard-list bg-c-pink  card1-icon"></i>
                                            <span class="text-c-pink f-w-600">Serie</span>
                                            <h4>{{allS}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                    <i class="fas fa-clipboard-list"></i>Just update
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="flaticon-users bg-c-blue card1-icon"></i>
                                            <span class="text-c-blue f-w-600">Users</span>
                                            <h4>{{allUs}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                    <i class="flaticon-users"></i>We Are a Family
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="fas fa-user-secret bg-c-yellow card1-icon"></i>
                                            <span class="text-c-yellow f-w-600">Roles</span>
                                            <h4>{{allRole}}</h4>
                                            <div>
                                                <span class="f-left m-t-10 text-muted">
                                                    <i class="fas fa-user-secret"></i>Everyone Has a role
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card1 end -->
                                <!-- Statestics Start -->
                             
                            </div>
                        </div>

                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Required Jquery -->
<script type="text/javascript" src="assets/acceil/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/acceil/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/acceil/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="assets/acceil/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="assets/acceil/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="assets/acceil/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="assets/acceil/pages/widget/amchart/amcharts.min.js"></script>
<script src="assets/acceil/pages/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="assets/acceil/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="assets/acceil/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="assets/acceil/js/script.js"></script>
<script type="text/javascript " src="assets/acceil/js/SmoothScroll.js"></script>
<script src="assets/acceil/js/pcoded.min.js"></script>
<script src="assets/acceil/js/demo-12.js"></script>
<script src="assets/acceil/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
