<div class="card">
    <div class="page-header">
        <h4 class="page-title">Payements</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <p >
                    <i class="flaticon-home"></i>
                </p>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <p >Payement</p>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <p >Liste Payements</p>
            </li>
        </ul>
        <div class="ml-md-auto py-4 py-md-2">
            <a href="" routerLink="/default/payement" class="btn btn-primary btn-round"> <i class="fa fa-plus fa-fw"></i>Nouveau Payement</a>
        </div>
    </div>
    <div *ngIf="variable">
 <form [formGroup]="loginForm" >
    <div class="form-row">
        <div class="form-group col-md-5">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input [value]="matriculeEleve" name="matriculeEleve" type="text" formControlName="matriculeEleve" class="form-control" placeholder="Recherche Par Matricule" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Matricule</span>
                    </div>
                </div>
            </div>
        </div>
        <div>  <h1>OU</h1> </div>
  
               
        <div class="form-group col-md-5">
            <div class="form-group form-floating-label">
                <select
                class="form-control input-solid" id="selectFloatingLabel2" formControlName="mois" [value]="mois" name="mois">
                    <option >Mois</option>
                    <option *ngFor=" let moiss of allmois " value="{{moiss.id}}">
                        {{moiss.libellemois}}
                    </option>
                  
                </select>
                <label for="selectFloatingLabel2" class="placeholder">..Choisissez Un Mois..</label>
            </div>
        </div>
    </div>
     <div class="form-group col-md-5">
            <div class="form-group form-floating-label">
                <select  [ngClass]="{ 'is-invalid': submitted && f.ses.errors }" class="form-control input-solid" id="selectFloatingLabel2" formControlName="ses" >
                    <option value="">Session</option>
                    <option *ngFor=" let ses of allsession " value="{{ses.id}}">
                        {{ses.libAnn}}
                    </option>
                      <div *ngIf="submitted && f.ses.errors" class="invalid-feedback">
                    <div *ngIf="f.ses.errors.required">Username est Obligatoire</div>
                </div>
                </select>
            </div>
        </div>
    <div class="card-action">
        <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
            <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
            <i class="fa fa-search search-icon"></i>Recherche
        </button>
    </div>
</form>
</div>
<div *ngIf="variable1">
    <div class="input-group">
        <div class="input-group-prepend">
            <button type="submit" class="btn btn-search pr-1">
                <i class="fa fa-search search-icon"></i>
            </button>
        </div>
        <input type="text" placeholder="Search ..." class="form-control" [(ngModel)]="term">
    </div>
    <table class="table table-head-bg-primary mt-4">
        <thead>
            <tr >
                <th scope="col">#</th>
                <th scope="col">Num_Pay</th>
                <th scope="col">Mois</th>
                <th scope="col">Prenom & Nom</th>
                <th scope="col">Classe</th>
                <th scope="col">Date Paeyment</th>
                <th scope="col">Montant</th>
                <th scope="col">Reçu</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let paye of allpay | paginate:{itemsPerPage:5,currentPage:p}| filter:term ">
                <td>{{paye.id}}</td>
                <td>{{paye.numPaye}}</td>
                <td>{{paye.mois.libellemois}}</td>
                <td>{{paye.inscrire.eleves.prenom}} {{paye.inscrire.eleves.nom}}</td>
                <td>{{paye.inscrire.classes.libelleclasse}}</td>
                <td>{{paye.dateDePayement | date:'dd-MM-yyyy H:mm:ss'}}</td>
                <td>{{paye.montantMensualite}}</td>
                <td><button type="button" data-toggle="tooltip" title=""
                        class="btn btn-link btn-primary btn-lg" 
                        (click)="Recu(paye.id)"   data-toggle="modal"
                        data-target="#exampleModalLongMyRecu">
                        <i class="fas fa-file-download"></i></button>
                </td>
            
            </tr>
           
        </tbody>
    </table> 
    
    <div class="card-footer pb-0 pt-3">
        <pagination-controls (pageChange)="p=$event">
                            
        </pagination-controls>
    </div> 
    <div class="card-action">
        <button  class="btn btn-primary" (click)="retour()">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            <i class="fa fa-search search-icon"></i>Retour
        </button>
    </div>
</div>   

</div>
<div class="container"  *ngIf="variable2">
    <div  class="modal fade" id="exampleModalLongMyRecu" tabindex="2" role="dialog" aria-labelledby="exampleModalLongMyRecuTitle" aria-hidden="true" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="box-title"><i class="icon-arrow-right" ></i>Recu D'inscription</h3>
                        </div>
      <div id = " print-section " > 
          <header>
            <h1>Recu de Payement
              <h2>DgSchool/ <p style="color: #28d;"></p></h2>
            </h1>
          </header>
          <section class="flex">
            <dl>
              <dt>Num Payement</dt>
              <dd>{{payement.numPaye}}</dd>
              <dt>Date Du Payement</dt>
              <dd>{{payement.dateDePayement |date:'dd-MM-yyyy H:mm:ss'}}</dd>
            </dl>
          </section>
          <section class="flex">
            <dl class="bloc">
              <dt>Eleve:</dt>
              <dd>
                
                <dl>
                  <dt>Nom Complet </dt>
                  <dd>{{payement.inscrire.eleves.prenom}} 
                  {{payement.inscrire.eleves.nom}}</dd>
                  <dt>Matricule </dt>
                  <dd>{{payement.inscrire.eleves.matriculeEleve}}</dd>
                   <dt>Sexe</dt>
                  <dd>{{payement.inscrire.eleves.sexe}}</dd>
                   <dt>Date De Naissance</dt>
                  <dd>{{payement.inscrire.eleves.datenais |date:'dd-MM-yyyy'}}</dd>
                  <dt>Classe </dt>
                  <dd>{{payement.inscrire.classes.libelleclasse}}</dd>
                  <dt>Annee Scolaire </dt>
                  <dd>{{payement.inscrire.session.libAnn}}</dd>
                  <dt>Mois </dt>
                   <dd>{{payement.mois.libellemois}}</dd>
                    <dt>Montant </dt>
                    <dd>{{payement.montantMensualite}}</dd>
                  <!-- <dt></dt>
                  <dd>bigboss@bigcompanylonglongemail.com</dd> -->
                </dl>
              </dd>
            </dl>
            
          </section>
         
          <footer>
            <p> – Informatique − Développement WEB </p>
            <p>Ngaye Meckhe Angle RN:1 | <a href="mailto:lamine.mbaye0104@gmail.com">lamine.mbaye0104@gmail.com</a></p>
          </footer>
          </div>
          <button printSectionId = " print-section " ngxPrint class="btn btn-outline-primary" ><span class="fas fa-fw fa-print"></span>Imprimer </button > 

                    </div>
                    </div>
                    </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Terminer</button>
          </div>
        </div>
      </div>
</div>