<div class='container'>
<br>
<div class="row" >

            <div class="col-md-6 col-sm-4 mb" >
              <div class="grey-panel pn donut-chart" id="panel">
                <div class="grey-header">
                  <h4 style="color: black;">Ajouter Une Note</h4>
                </div>
            
              <i class="fas fa-clipboard-list fa-4x" style="color: #28d;"></i>
            
              <button routerLink="/default/ajouter_note" type="button" class="btn btn-outline-primary" style="width: 15%;float: right;" 
               >
                <i class="fa fa-pen fa-1x" style="color: #28d;"></i>
                </button><br>

                  </div>
              <hr class="trait" >
              
              <!-- /grey-panel -->
            </div>
        
       <div class="col-md-6 col-sm-4 mb" >
              <div class="grey-panel pn donut-chart" id="panel">
                <div class="grey-header">
                  <h4 style="color: black;">Consulter Une Note</h4>
                </div>
            
              <i class="fas fa-file-pdf fa-4x" style="color: #28d;"></i>
            
              <button routerLink="/default/lister_note"  type="button" class="btn btn-outline-primary" style="width: 15%;float: right;" 
               >
                <i class="fas fa-eye fa-1x" style="color: #28d;"></i>
                </button><br>
                  </div>
              <hr class="trait" >
              
              <!-- /grey-panel -->
            </div>
</div>


</div>     
