<div class='container'>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="page-header">
                    <h4 class="page-title">Evaluation</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <p >
                                <i class="flaticon-home"></i>
                            </p>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <p >Note</p>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <p >Gestion  Note</p>
                        </li>
                    </ul>
                </div>
                <h3 class="box-title">
                    <i class="icon-arrow-right" ></i>Operation Note 
                    <i class="fa fa-pen" ></i></h3>
                 
            </div>
<br>
<div class="row" >

            <div class="col-md-6 col-sm-4 mb" >
              <div class="grey-panel pn donut-chart" id="panel">
                <div class="grey-header">
                    <h4 style="color: black;">Ajouter Une Note</h4>
                  </div>
              
                <i class="fas fa-clipboard-list fa-4x" style="color: #28d;"></i>
              
                <button routerLink="/default/ajouter_note" type="button" class="btn btn-outline-primary" style="width: 15%;float: right;" 
                >
                  <i class="far fa-edit fa-1x" style="color: #28d;"></i>
                  </button><br>

              </div>
                <hr class="trait" >
              
              <!-- /grey-panel -->
            </div>
        
       <div class="col-md-6 col-sm-4 mb" >
              <div class="grey-panel pn donut-chart" id="panel">
                <div class="grey-header">
                  <h4 style="color: black;">Consulter Une Note</h4>
                </div>
            
                <i class="fas fa-file-pdf fa-4x" style="color: #28d;"></i>
              
                <button routerLink="/default/lister_note"  type="button" class="btn btn-outline-primary" style="width: 15%;float: right;" 
                >
                  <i class="fas fa-eye fa-1x" style="color: #28d;"></i>
                  </button><br>
              </div>
              <hr class="trait" >
              
              <!-- /grey-panel -->
      </div>
     

    <div class="col-md-6 col-sm-4 mb" >
              <div class="grey-panel pn donut-chart" id="panel">
                      <div class="grey-header">
                        <h4 style="color: black;">Bultin Une Note</h4>
                      </div>
                  
                    <i class="fas fa-file-download fa-4x" style="color: #28d;"></i>
                  
                    <button routerLink="/default/bultin"  type="button" class="btn btn-outline-primary" style="width: 15%;float: right;" 
                    >
                      <i class="fas fa-eye fa-1x" style="color: #28d;"></i>
                      </button><br>
                </div>
                    <hr class="trait" >
              
              <!-- /grey-panel -->
             </div>

</div>  
</div>  
</div>  
</div>  
</div>   
